@import '../../variables';

.task {
  display: flex;
  align-items: center;
  
  .time {
    color: $white;
    background-color: $grey;
    border-radius: 20px;
    padding: 5px;
    box-shadow: $mainShadow;
  }
  
  .message {
    color: $violetColor;
    margin-left: 10px;
    max-width: 350px;
    word-wrap: break-word;
  }
}
