@import '../../variables';

.container {
  color: $violetColor;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;

  input {
    all: unset;
    font-size: 40px;
    text-align: right;
    max-width: 300px;

    &::placeholder {
      font-size: 25px;
    }
  }

  .country {
    font-size: 20px;
  }

  .selectBox {
    display: flex;
    gap: 10px;
  }
}
