@import '../../variables';

.clock {
  font-weight: 400;
  color: $violetColor;

  h2 {
    font-weight: 500;
    font-style: normal;
    margin: 0;
  }

  h3 {
    font-weight: 500;
    margin: 0;
  }

  .time {
    font-size: 40px;
  }

  .date {
    font-size: 20px;
  }
}
