@import '../../variables';


.container {
  color: $white;
  
  .text {
    all: unset;
    font-size: 20px;
    
      &::placeholder {
        font-style: italic;
      }
  }
  
  .time {
    all: unset;
    margin-right: 10px;
  }
  
  div {
    margin-top: 5px;
    
    button {
      all: unset;
      cursor: pointer;
      background-color: $grey;
      padding: 5px 10px 5px 10px;
      border-radius: 20px;
      margin-right: 5px;
    }
  }
  
}
