$white: #ffffff;
$grey: #3F5275;
$darkBlue: #112c5f;
$errorColor: rgb(224, 35, 35);
$yellowColor: rgb(211, 184, 33);
$violetColor: rgb(147 75 170);

$mainShadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

$backgroundSunny: url('./assets/backgrounds/sunny.png');
$backgroundSnow: url('./assets/backgrounds/snow.png');
$backgroundRain: url('./assets/backgrounds/rain.png')
