@import '../../variables';

.box {
  color: $white;
  display: flex;
  align-items: center;
  gap: 20px;
  
    img {
      max-width: 120px;
      max-height: 120px;
    }
    
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      
        .label {
          text-transform: uppercase;
          background-color: $darkBlue;
          border-radius: 20px;
          padding: 5px;
          box-shadow: $mainShadow;
        }
        
        .degree {
          font-size: 60px;
        }
    }
}
